mat-card {
    background-color: rgba(255, 162, 31, 0.6);
    width: 260px;
}

@media only screen and (max-width: 959px) {
    mat-card {
        height: 320px !important;
        margin-bottom: 10px;
    }
}
