.example-card {
    max-width: 200px;
    max-height: 300px;
    margin: 5px;
}

.row-height {
    height: 100%;
}
button {
    background-color: #ffa21f;
    color: #fff;
}

p {
    font-weight: bold;
}

img {
    height: 140px !important;
    width: 150px !important;

    background-size: cover;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}
